body{
  background: linear-gradient(to bottom, rgba(205, 235, 215, 0.3) 0%, rgba(10, 10, 20, 0.7) 75%, #000000 100%), url("linear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.navbar-toggler:hover {
	/*background-color: #e6fff2; /* Green */
  color: white;
  /*padding: 0;*/
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.9);
  border-radius: 5px;
}
.navbar-toggler{
	padding: 1px;
	opacity: 0.7;
}
.img_size_main{
	width: 100px;
}
.janr_img{
  width: 470px;
  height: 570px;
  vertical-align: middle;
  padding: 0;
}
.btn_down {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn_down:hover {
  background-color: RoyalBlue;
}
.container1{
  width: 100%;
  display: inline-block;
}
.col_slide{
  display: inline-block;
  box-shadow: 0 0 15px rgb(115,175,35); 
}
.col_slide:hover{
  display: inline-block;
  box-shadow: 0 0 52px rgb(34, 156,250); 
}
.reklama{
  border: solid;
  width: 40%;
 }
@media only screen and (min-width: 1000px){
  .reklama{
    width: 100%;
  }
}
.dwn_card{
  width: 620px;
  height: auto;
}

